nav {
  background: rgba(154, 8, 8, 1);
}

nav .brand-logo.center {
  font-family: "Archivo Black";
}

h1 {
  font-family: lato;
  text-align: center;
  font-weight: 700;
}

.pagination {
  text-align: center;
}

.pagination li.active {
  background-color: rgba(154, 8, 8, 1);
}

#logo {
  color: white;
  font-family: "Archivo Black";
}

body {
  background-image: url("../img/bg2.png");
}

footer.page-footer{
  background-color: rgba(154, 8, 8, 1);
}

.btn-large {
  background: white;
  color: black;
}

.btn-large:hover {
  color: white;
  background-color: rgb(241, 156, 55);
}
